<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
		<false/>
	<key>KeepAlive</key>
		<true/>
	<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
				<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
		</dict>
        <key>Label</key>
                <string>org.nodejs.homebridge</string>
        <key>ProgramArguments</key>
                <array>
                        <string>/usr/local/bin/homebridge</string>
                </array>
        <key>RunAtLoad</key>
                <true/>
	<key>UserName</key>
		<string>ebaauw</string>
	<key>StandardErrorPath</key>
		<string>/Users/ebaauw/.homebridge/homebridge.log</string>
	<key>StandardOutPath</key>
		<string>/Users/ebaauw/.homebridge/homebridge.log</string>
</dict>
</plist>
