<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.nodejs.homebridge</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/homebridge</string>
		<string>-U</string>
		<string>/Users/_homebridge/.homebridge</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/_homebridge/.homebridge/homebridge.log</string>
	<key>StandardOutPath</key>
	<string>/Users/_homebridge/.homebridge/homebridge.log</string>
	<key>UserName</key>
	<string>_homebridge</string>
	<key>WorkingDirectory</key>
	<string>/Users/_homebridge/.homebridge</string>
</dict>
</plist>
